<%= form_for @student, html: { multipart: true , class: 'form-horizontal'} do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><%= f.label :student_name %></td>
      <td><%= f.text_field :student_name %></td>
    </tr>
    <tr>
      <td><%= f.label :team_id %></td>
      <td><%= f.select("team_id", Team.all.collect {|x| [x.team_name, x.id] }, {include_blank: "Choose Team"}) %></td>
    </tr>
    <tr>
      <td><%= f.label :phone_no %></td>
      <td><%= f.text_field :phone_no %></td>
    </tr>
    <tr>
      <td><%= f.label :photo1 %></td>
      <td><%= f.file_field :photo1, :class => 'form-control' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>

<% end %>
