<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @student.student_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @student.team.team_name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @student.phone_no %>
</p>
<p>
  <%- unless @student.photo1.url == 'logo.png' -%>
    <a href="<%= @student.photo1.url(:original) %>" target="_blank">
      <%= image_tag @student.photo1.url(:medium), class: "col-md-4, col-md-4 col-sm-4"%>
    </a>
  <%- end -%>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
