<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @city.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Images:</strong>
  <%= @city.images %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
