<table>
	<tr class="nav">
		<td><%= link_to "User", users_path, class: "" %></td>
		<td><%= link_to "Team", teams_path, class: "" %></td>
		<td><%= link_to "Student", students_path, class: "" %></td>
		<td><%= link_to "City", cities_path, class: "" %></td>
		<td><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></td>
	</tr>
</table>
