<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%- if user_signed_in? -%>
      <%= render :partial => 'layouts/custom_menu' %>
      <div  class="col-lg-12 col-md-12">
    <%- end -%>
  	<% if notice || params[:notice] %>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice || params[:notice]%>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
